@font-face {
  font-family: "Aeonik-Regular";
  src: url("./fonty/Aeonik-Regular.otf") format("woff2"),
    url("./fonty/Aeonik-Regular.otf") format("woff");
}

/* toto všetko je pre tvoj desktop monitor,
pre menšie notebookové monitory to sprav cez media query (?)*/
body {
  background-image: url("./pics/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Aeonik-Regular", sans-serif !important;
}

.logoContainer {
  padding-top: 0.5rem;
}

.logo {
  width: 26%;
  height: auto;
}

.grafy {
  display: flex;
  gap: 5px;
}

.obrazok1 {
  background-image: url("./pics/01.png");
  height: 150px;
  width: 75%;
  background-size: contain;
  background-repeat: no-repeat;
}
.obrazok2 {
  background-image: url("./pics/02.png");
  height: 150px;
  width: 137%;
  background-size: contain;
  background-repeat: no-repeat;
}
.obrazok3 {
  background-image: url("./pics/03.png");
  height: 150px;
  width: 96%;
  background-size: contain;
  background-repeat: no-repeat;
}
.obrazok4 {
  background-image: url("./pics/04.png");
  height: 150px;
  width: 182%;
  background-size: contain;
  background-repeat: no-repeat;
}
.obrazok5 {
  background-image: url("./pics/05.png");
  height: 150px;
  width: 57%;
  background-size: contain;
  background-repeat: no-repeat;
}

.container {
  margin: 1%;
  padding: 2%;
  border-radius: 30px;
  background-color: #d6d8d0;
  color: #000000;
  opacity: 96%;
  max-width: 78% !important;
}

.btn {
  border: 1px solid black !important;
  border-radius: 30px !important;
  background-color: black !important;
  color: white !important;
}

.container div {
  padding-top: 2%;
}

.bottomContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.conversionContainer {
  background-color: #f2ee5c;
  width: 50%;
  min-height: 100%;
  padding: 1.5%;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.conversionContainer img {
  width: 5%;
}

.bottomContainer p {
  flex-flow: right;
}

.infoContainer {
  display: flex;
}

.infoContainer p {
  margin: 0px;
}

/* pre macbook pro 13-inch 2020 */

@media only screen and (min-device-width: 1440px) and (max-device-width: 2560px) and (-webkit-min-device-pixel-ratio: 2) and (-webkit-max-device-pixel-ratio: 2) {
  body {
    background-size: 100vw 100vh;
  }
  .container {
    margin: 10%;
    max-width: 88% !important;
  }
}
